body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: rgb(100, 98, 98);
}

ul {
    list-style-type: none;
    position: sticky;
    top: 0;
    background-color: rgb(58, 56, 56);
    overflow: hidden;
    z-index: 1;
}
li{
    float: left;
    margin-right: 10px;
}
li a{
    display: block;
    padding: 8px;
    text-decoration: none;
    color: rgb(253, 253, 253);
}
li a:hover{
    color: blue;
    background-color: aqua;
}
.active{
    background-color: palegreen;
}

.par1{
    background-image: url('./img/music1.jpg');
    min-height: 100%;
}
.par2{
    background-image: url('./img/music2.jpg');
    min-height: 400px;
}
.par3{
    background-image: url('./img/music3.png');
    min-height: 400px;
}
.par4{
    background-image: url('./img/music4.jpg');
    min-height: 400px;
}
.par1, .par2, .par3, .par4{
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-light{
    background-color: #f4f4f4;
    color: rgb(92, 87, 87);
}
.section-dark{
    background-color: #b4c4ce;
}
.partext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.partext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}
.partext .border.trans{
    background-color: transparent;
}

.demo {
    margin-top: 20px;
    padding: 20px;
}
@media(max-width:568px){
    .par1, .par2, .par3, .par4{
        background-attachment: scroll;
    }
}
